{% load static %}
{% url 'bumps' as main_url %}
{% url 'formulario' as formulario_url %}
{% url 'reportados' as reportados_url %}
{% url 'preguntas' as preguntas_url %}



<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trámites CDMX</title>
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "dashboard/img/favicon.png"%} ">
  <link href="{% static "dashboard/img/favicon.png"%} " rel="icon" type="image/png">
  <link rel="stylesheet" type="text/css" href="{% static "index/app.css"%} ">
  <link rel="stylesheet" href="{% static "index/leaflet.css"%} ">
  <script type="text/javascript" async="" src="{% static "index/analytics.js"%} "></script>
  <script src="{% static "index/leaflet.js"%} "></script>
  <script src="{% static "index/app.js"%} "></script>
  <script src="{% static "index/jquery.js"%} "></script>
  <script src="{% static "index/jquery-ui.min.js"%} "></script>
  <script src="{% static "index/functions.js"%} "></script>
 
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
body,h1,h2,h3,h4,h5,p,li,a,span,button,input,select{
  font-family: 'B612', sans-serif !important;
}
</style>
<body>
  <!--Encabezado-->
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mt-md-2 mt-3">
          <div class="header-content-left ">
            <a href="/"><img src="{% static "index/group.svg"%} " style="width:269px;"></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--Navegación-->
  <nav class="nav navbar navbar-expand-lg navbar-light w-100">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {% if request.path == main_url or request.path == formulario_url %}active{% endif %}">
          <a class="nav-link" href="/">Reportes</a>
        </li>
        <li class="nav-item {% if request.path == reportados_url %}active{% endif %}">
          <a class="nav-link " href="{% url 'reportados' %}">Baches Reportados</a>
        </li>
        <li class="nav-item {% if request.path == preguntas_url %}active{% endif %}">
          <a class="nav-link" href="{% url 'preguntas' %}">Preguntas Frecuentes</a>
        </li>
        <li class="nav-item " style="right: 16px;position: absolute;">
          <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="min-height: 60vh;margin-bottom: 30px;">
    
    {% block content %}


    {% endblock %}
  </div>
  <!-- Footer -->
  <footer class="page-footer">    
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left pb-3">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-4 mt-3">
          <img src="{% static "index/Logo-CDMX-blanco.svg"%} " style="width: 222px;">
        </div>
        <div class="col-12 col-lg-4 col-md-4 mb-md-0 text-footer" style="font-size: unset;">
          <p></p><h2>Navegación</h2><p></p>
          <p><a href="{% url 'bumps' %}" class="link-footer text-reset">Reportes</a></p>
          <p><a href="{% url 'reportados' %}" class="link-footer text-reset">Baches Reportados</a></p>
          <!-- <p><a href="{% url 'reportados' %}" class="link-footer text-reset">Baches Reparados</a></p> -->
          <p><a href="{% url 'preguntas' %}" class="link-footer text-reset">Preguntas Frecuentes</a></p>        
          <p><a href="https://tramites.cdmx.gob.mx/inicio/index.php/inicio/politicasDeUsoPrivacidad" target="_blank" class=" text-reset link-footer">Políticas de uso y privacidad</a></p>
        </div>   
        <div class="col-12 col-lg-4 col-md-4 mb-md-0  text-footer" style="font-size: unset;">
          <p></p><h2>Sitios Relacionados</h2><p></p>
           <p><a href="https://www.transparencia.cdmx.gob.mx/" target="_blank" class="link-footer text-reset">Portal de Transparencia de la Ciudad de México</a></p>
           <p><a href="https://www.congresocdmx.gob.mx/" target="_blank" class="link-footer text-reset">Congreso de la Ciudad de Mexico</a></p>
           <p><a href="http://www.infodf.org.mx/" target="_blank" class="link-footer text-reset">InfoDF</a></p>
           <p><a href="http://cdhdf.org.mx/" target="_blank" class="link-footer text-reset">Comisión de Derechos Humanos del Distrito Federal</a></p>
        </div>     
      </div>
    </div>
  </footer>
</body>
</html>