{% load static %}
{% url 'dashboard' as dashboard_url %}
{% url 'profile' as profile_url %}
{% url 'users' as users_url %}

{% url 'reportes' as reportes_url %}

{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "dashboard/img/favicon.png"%} ">
  <link href="{% static "dashboard/img/favicon.png"%} " rel="icon" type="image/png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Trámites CDMX</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="{% static "dashboard/css/bootstrap.min.css"%} " rel="stylesheet" />
  <link href="{% static "dashboard/css/now-ui-dashboard.css"%} " rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static "dashboard/demo/demo.css"%} " rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="/" class="simple-text logo-mini">
          <!-- Amex -->
        </a>
        <a href="/" class="simple-text logo-normal">
          Trámites CDMX
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
                    <li {% if request.path == dashboard_url %}class="active"{% endif %}>
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <i class="now-ui-icons business_chart-pie-36"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li {% if request.path == users_url %}class="active"{% endif %}>
                        <a class="nav-link" href="{% url 'users' %}">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Usuarios</p>
                        </a>
                    </li>
                    <li {% if request.path == reportes_url %}class="active"{% endif %}>
                        <a class="nav-link" href="{% url 'reportes' %}">
                            <i class="now-ui-icons education_agenda-bookmark"></i>
                            <p>Reportes</p>
                        </a>
                    </li>
                </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="/" style="display: none;">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
          
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>
                    <span class="d-lg-none d-md-block">{% if user.is_superuser %}{{ user }}{% else %}{{ user.get_full_name }}{% endif %}</span>
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons location_world"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Menú</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'profile' %}">Perfil</a>
                  {% if user.is_superuser %}
                  <a class="dropdown-item" href="/admin">Admin</a>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm" style="background-image: '{% static 'img/pattern.png' %}'">
      </div>
      {% block content %}

      {% endblock %}
  </div>
  <!--   Core JS Files   -->
  <script src="{% static "dashboard/js/core/jquery.min.js"%} "></script>
  <script src="{% static "dashboard/js/core/popper.min.js"%} "></script>
  <script src="{% static "dashboard/js/core/bootstrap.min.js"%} "></script>
  <script src="{% static "dashboard/js/plugins/perfect-scrollbar.jquery.min.js"%} "></script>
  <!-- Chart JS -->
  <script src="{% static "dashboard/js/plugins/chartjs.min.js"%} "></script>
  <!--  Notifications Plugin    -->
  <script src="{% static "dashboard/js/plugins/bootstrap-notify.js"%} "></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static "dashboard/js/now-ui-dashboard.min.js"%} " type="text/javascript"></script>
  <script src="{% static "dashboard/demo/demo.js"%} "></script>

</body>

</html>

{% else %}
    {% include "auth/denied.html" %}
{% endif %}