{% extends 'base/master.html' %}
{% load static %}
{% load humanize %} 

{% block content %}<!-- Main Content -->
<div class="content">
  <div class="row">
    {% if messages %}
      {% for message in messages %}
          <div class="col-12">
            <div class="alert alert-primary">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" style="margin-top: -12px;margin-right: 15px;">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
              <span>
              {{ message }}</span>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    <div class="col-xl-4 col-lg-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-tile-56 text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Baches Reportados</p>
                <p class="card-title">{{ reportados }}
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-tile-56 text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Baches Pendientes</p>
                <p class="card-title">{{ pendientes }}
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-tile-56 text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Baches Terminados</p>
                <p class="card-title">{{ terminados }}
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}