{% extends 'base/master.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
<div class="content">
  <div class="row">
    <div class="col-md-8  order-2 order-md-1">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h5 class="title">Perfil</h5>
            </div>
            <div class="col-md-6 text-right">
              <a href="{% url 'changepwd'%}" class="btn btn-secondary btn-sm">Cambiar Contraseña</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Name" value="{{user.first_name}}">
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label>Apellido</label>
                  <input type="text" class="form-control" placeholder="Last Name" value="{{user.last_name}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" placeholder="{{user.email}}" disabled="">
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="card-footer text-right">
          <button type="submit" class="btn btn-fill btn-secondary">Save</button>
        </div> -->
      </div>
    </div>
    <div class="col-md-4  order-1 order-md-2">
                            <div class="card card-user">
                                <div class="card-image">
                                    <img src="{% static "dashboard/img/cdmx.png"%}" alt="...">
                                </div>
                                <div class="card-body" style="min-height: auto;">
                                    <div class="author">
                                        <a href="#">
                                          {% if user.Profile.image %}
                                            <img class="avatar border-gray" src="{{ user.Profile.image.url }}" alt="...">
                                            {% else %}
                                            <img class="avatar border-gray" src="{% static "dashboard/img/favicon.png"%}" alt="...">
                                            {% endif %}
                                            <!-- <img class="avatar border-gray" src="../assets/img/faces/face-3.jpg" alt="..."> -->
                                        </a>
                                            <h5 class="title" style="color: black;"><b>{{ user.get_full_name }}</b></h5>
                                        <p class="description" style="color: black;">
                                            {{ user }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    <!-- <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
            <div class="author">
              <div class="block block-one" style="background: rgba(40, 76, 104, 0.6);background: linear-gradient(to right, rgba(40, 76, 104, 0.6) 0%, rgba(40, 76, 104, 0) 100%);"></div>
              <div class="block block-two" style="background: rgba(40, 76, 104, 0.6);background: linear-gradient(to right, rgba(40, 76, 104, 0.6) 0%, rgba(40, 76, 104, 0) 100%);"></div>
              <div class="block block-three" style="background: rgba(40, 76, 104, 0.6);background: linear-gradient(to right, rgba(40, 76, 104, 0.6) 0%, rgba(40, 76, 104, 0) 100%);"></div>
              <div class="block block-four" style="background: rgba(40, 76, 104, 0.6);background: linear-gradient(to right, rgba(40, 76, 104, 0.6) 0%, rgba(40, 76, 104, 0) 100%);"></div>
              <a href="javascript:void(0)">
                {% if user.Profile.image %}
                    <img class="avatar border-gray" src="{{ user.Profile.image.url }}" alt="...">
                    {% else %}
                    <i class="fas fa-user" style="font-size: 4rem;color: gray;margin: 25px;"></i>
                    {% endif %}
                <h5 class="title">{{ user.get_full_name }}</h5>
                {% if user.Profile.about %}
                  <h6 class="title"><small>{{ user.Profile.about }}</small></h6>
                {% endif %}
              </a>
            </div>
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>
{% endblock %}