{% extends 'base/master.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
<style type="text/css">
  
.button-icon{
  padding: 4px 4px;
  border-radius: 50%;
}
.button-icon2{
  padding: 6px 8px;

  border-radius: 50%;
}
.page-item.active .page-link{
  background-color: #344675;
  border-color: #344675;
}
.page-link{
  color: gray;
}
</style>

<div class="content">
        <div class="row">
          {% if messages %}
            {% for message in messages %}
            
          <div class="col-12">
            <div class="alert alert-primary">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" style="margin-top: -12px;margin-right: 15px;">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
              <span>
              {{ message }}</span>
            </div>
          </div>
            {% endfor %}
          {% endif %}
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                  <div class="row">
                <div class="col-md-6 text-left">
                  <h4 class="card-title">Reportes</h4>
                  </div>
                  
                </div>
              </div>
              <div class="card-body" >
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                      <thead>
                        <th>Folio</th>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Email
                        </th>
                        <th>Dirección</th>
                        <th>
                          Fecha de Creación
                        </th>
                        <th class="text-center">
                          Acción
                        </th>
                      </thead>
                      <tbody>
                        {% for reporte in data_list %}
                        <tr class='clickable-row' data-href='{{reporte.folio}}'>
                          <td><a href="{{ reporte.folio }}" style="color: black;text-decoration: none;">{{ reporte.folio }}</a></td>
                          <td>{{ reporte.first_name|title }} {{ reporte.last_name|title }}</td>
                          <td>{{ reporte.email }}</td>
                          <td>{{ reporte.calle_principal}} y {{ reporte.calle_referencia }}, {{ reporte.colonia }}, {{ reporte.municipio }}.</td>
                          <td>{{ reporte.created|date:"SHORT_DATE_FORMAT" }}</td>
                          <td class="text-center">
                            {% if reporte.status %}
                            <button class="btn btn-success btn-sm">Completado</button>
                            {% else %}
                            <button class="btn btn-danger btn-sm">Pendiente</button>
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
      <div style="margin-right: 20px; margin-left: auto; margin-top: 20px;">
        {% if data_list.has_other_pages %}
        <nav>
        <ul class="pagination">
          {% if data_list.has_previous %}
        <li class="page-item">
        <a href="?page={{ data_list.previous_page_number }}" class="page-link" aria-label="Previous">
        <span aria-hidden="true">«</span>
        </a>
        </li>
        {% else %}
       <li class="page-item">
        <a href="#" class="page-link" aria-label="Previous">
        <span aria-hidden="true">«</span>
        </a>
        </li>
        {% endif %}

        {% if data_list.number > 5 %}
        
          {% for i in data_list.paginator.page_range %}
            {% if forloop.counter < data_list.number|add:"5" %}
      
              {% if forloop.counter > data_list.number|add:"-5" %}

                  {% if data_list.number == i %}
                    <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
                  {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                  {% endif %}
               
              {% endif %}

            {% endif %}

          {% endfor %}

        {% else %}

          {% for i in data_list.paginator.page_range %}
    
            {% if forloop.counter < 10 %}

                {% if data_list.number == i %}
                  <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
                {% else %}
                  <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}

            {% endif %}

          {% endfor %}

        {% endif %}

        {% if data_list.has_next %}
        <li class="page-item">
        <a href="?page={{ data_list.next_page_number }}" class="page-link" aria-label="Next">
        <span aria-hidden="true">»</span>
        </a>
        </li>
        {% else %}
        <li class="page-item">
        <a href="#" class="page-link" aria-label="Next">
        <span aria-hidden="true">»</span>
        </a>
        </li>
        {% endif %}
        </ul>
        </nav>
        {% endif %}
      </div>
      <div class="col-12" style="text-align: right;padding-right: 20px;">
        {{ data_list.start_index }} - {{ data_list.end_index }} de {{ data_list.paginator.count }}
        
      </div>
      <div class="col-12" style="text-align: right;padding-right: 20px;">
        Página {{ data_list.number }} de {{ data_list.paginator.num_pages }}
      </div>
    </div>
  </div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}