{% extends 'base/master.html' %}
{% load static %}

{% block content %}<!-- Main Content -->

<style type="text/css">
  .myMap {
  height: 300px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  display: none;
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
.hide{
  display: none;
}
</style>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h5 class="title">Reporte {{reporte.folio}}</h5>
            </div>
            <div class="col-md-6 text-right">
              <a href="../" class="btn btn-secondary btn-sm">Consultar otro Reporte</a>
            </div>
            
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-12">
                <b>Fecha de Reporte: </b>
                <p>{{ reporte.created|date:"SHORT_DATE_FORMAT" }}</p>
                <br>
              </div>
              <div class="col-md-6">
                <b>Nombre: </b>
                <p>{{ reporte.first_name}} {{ reporte.last_name }}</p>
              </div>
              <div class="col-md-6">
                <b>Email: </b>
                <p>{{ reporte.email}}</p>
              </div>
              <div class="col-12">
                <b>Dirección: </b>
                <p>{{ reporte.calle_principal}} y {{ reporte.calle_referencia }}, {{ reporte.colonia }}, {{ reporte.municipio }}. </p>
                {% if reporte.observaciones %}
                  <b>Detalles: </b>
                  <p>{{ reporte.observaciones }}</p>
                {% endif %}
                <br>
                <b>Status: </b>
                <p>
                {% if reporte.status %}
                  <a href="change_status" class="btn btn-success btn-sm">Completado</a>
                {% else %}
                  <a href="change_status" class="btn btn-danger btn-sm">Pendiente</a>
                {% endif %}
              </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
       
          <div class="card" id="mapCard" style="margin-bottom: 0">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0 text-center">
            <h5 class="mb-0">Geolocalización</h5>
          </div>
            <div class="row">
              <div class="col">
                <div id="floating-panel">
                  <input id="address" type="textbox" value="{{ reporte.calle_principal}} y {{ reporte.calle_referencia }}, col. {{ reporte.colonia }}, {{ reporte.municipio }}.">
                  <input id="submit" type="button" value="Geocode">
                </div>
                <div id="map" class="myMap"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   {% if reporte.image %}
          <div style="height: 300px;">
              <img src="{{ reporte.image.url }}" alt="..." width="100%" style="object-fit: cover;height: 100%;">
          </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
    window.onload = function() {
      cardHeight = $('#infoCard').height();
      cardMapHeight = $('#infoCard').height()-80;
      console.log("height="+cardHeight)
      button = document.getElementById('submit').click();
      document.getElementById("mapCard").style.height=cardHeight+"px";
      document.getElementById("map").style.height=cardMapHeight+"px";
      };

      function initModuleMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: {lat: 0, lng: 0}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            document.getElementById("mapCard").classList.add("hide")
            alert('Dirección Invalida: ' + status);

          }
        });
      }
    </script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW4x1A9Auy8I-QCtt3MtWN1HtIcUkRLgU&callback=initModuleMap">
</script>
{% endblock %}