{% extends 'base/master.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
<style type="text/css">
  
.button-icon{
  padding: 4px 4px;
  border-radius: 50%;
}
.button-icon2{
  padding: 6px 8px;

  border-radius: 50%;
}
.page-item.active .page-link{
  background-color: #344675;
  border-color: #344675;
}
.page-link{
  color: gray;
}
</style>

<div class="content">
        <div class="row">
          {% if messages %}
            {% for message in messages %}
            
          <div class="col-12">
            <div class="alert alert-primary">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" style="margin-top: -12px;margin-right: 15px;">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
              <span>
              {{ message }}</span>
            </div>
          </div>
            {% endfor %}
          {% endif %}
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                  <!-- <p class="card-category">Created using Montserrat Font Family</p> -->
                  <div class="row">
                <div class="col-md-6 text-left">
                  <h4 class="card-title">Usuarios</h4>
                  </div>
                  {% if user.is_staff %}
                  <div class="col-md-6 text-right">
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#addUser">Añadir</button>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="card-body" >
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover table-striped">
                      <thead>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Fecha de Creación
                        </th>
                        <th class="text-center">
                          Acción
                        </th>
                      </thead>
                      <tbody>
                        {% for user in data_list %}
                        {% if not user.is_superuser %}
                        <tr>
                          <input type="hidden" id="user_first_name_{{user.id}}" value="{{ user.first_name}}">
                          <input type="hidden" id="user_last_name_{{user.id}}" value="{{ user.last_name}}">
                          <td id="user_{{user.id}}">{{ user.get_full_name }}</td>
                          <td id="user_email_{{user.id}}">{{ user.email }}</td>
                          <td>
                            {{ user.date_joined }}
                          </td>
                          <td class="text-center">
                            <button class="btn btn-secondary button-icon" data-toggle="modal" data-target="#editUser" onclick="editUser({{user.id}})"><i class="fas fa-edit" style="padding: 5px;"></i></button>
                            <button class="btn btn-danger button-icon2" data-toggle="modal" data-target="#deleteUser" onclick="deleteUser({{user.id}})"><i class="fas fa-trash"></i></button>
                          </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                <!-- <div class="table-responsive" style="height: 55vh;">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Fecha de Creación
                        </th>
                        <th class="text-center">
                          Acción
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in data_list %}
                        {% if not user.is_superuser %}
                        <tr>
                          <input type="hidden" id="user_first_name_{{user.id}}" value="{{ user.first_name}}">
                          <input type="hidden" id="user_last_name_{{user.id}}" value="{{ user.last_name}}">
                          <td id="user_{{user.id}}">{{ user.get_full_name }}</td>
                          <td id="user_email_{{user.id}}">{{ user.email }}</td>
                          <td>
                            {{ user.date_joined }}
                          </td>
                          <td class="text-center">
                            <button class="btn btn-secondary button-icon" data-toggle="modal" data-target="#editUser" onclick="editUser({{user.id}})"><i class="fas fa-edit" style="padding: 5px;"></i></button>
                            <button class="btn btn-danger button-icon2" data-toggle="modal" data-target="#deleteUser" onclick="deleteUser({{user.id}})"><i class="fas fa-trash"></i></button>
                          </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      <div class="row">
      <div style="margin-right: 20px; margin-left: auto; margin-top: 20px;">
        {% if data_list.has_other_pages %}
        <nav>
        <ul class="pagination">
          {% if data_list.has_previous %}
        <li class="page-item">
        <a href="?page={{ data_list.previous_page_number }}" class="page-link" aria-label="Previous">
        <span aria-hidden="true">«</span>
        </a>
        </li>
        {% else %}
       <li class="page-item">
        <a href="#" class="page-link" aria-label="Previous">
        <span aria-hidden="true">«</span>
        </a>
        </li>
        {% endif %}

        {% if data_list.number > 5 %}
        
          {% for i in data_list.paginator.page_range %}
            {% if forloop.counter < data_list.number|add:"5" %}
      
              {% if forloop.counter > data_list.number|add:"-5" %}

                  {% if data_list.number == i %}
                    <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
                  {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                  {% endif %}
               
              {% endif %}

            {% endif %}

          {% endfor %}

        {% else %}

          {% for i in data_list.paginator.page_range %}
    
            {% if forloop.counter < 10 %}

                {% if data_list.number == i %}
                  <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
                {% else %}
                  <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}

            {% endif %}

          {% endfor %}

        {% endif %}

        {% if data_list.has_next %}
        <li class="page-item">
        <a href="?page={{ data_list.next_page_number }}" class="page-link" aria-label="Next">
        <span aria-hidden="true">»</span>
        </a>
        </li>
        {% else %}
        <li class="page-item">
        <a href="#" class="page-link" aria-label="Next">
        <span aria-hidden="true">»</span>
        </a>
        </li>
        {% endif %}
        </ul>
        </nav>
        {% endif %}
      </div>
      <div class="col-12" style="text-align: right;padding-right: 20px;">
        {{ data_list.start_index }} - {{ data_list.end_index }} de {{ data_list.paginator.count }}
        
      </div>
      <div class="col-12" style="text-align: right;padding-right: 20px;">
        Página {{ data_list.number }} de {{ data_list.paginator.num_pages }}
      </div>
    </div>
  </div>

<!-- Add User Modal -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method='POST' autocomplete="off"> {% csrf_token %}
      <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-6">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" data="blue" placeholder="Ingresa el nombre" name="first_name" autocomplete="off">
              </div>
              <div class="col-6">
            <label for="exampleInputEmail1">Apellido</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" data="blue" placeholder="Ingresa el apellido" name="last_name" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa el email" name="email" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa la contraseña" name="password" autocomplete="off">
          </div>
          
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-secondary" name="addUser">Enviar</button>
      </div>
        </form>
    </div>
  </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method='POST' autocomplete="off"> {% csrf_token %}
      <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <input id="user_id_input" type="hidden" name="id_user">
            <label for="exampleInputEmail1">Nombre</label>
            <input id="user_first_name_input" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" data="blue" placeholder="Ingresa el nombre" name="first_name">
              </div>
              <div class="col-6">
            <label for="exampleInputEmail1">Apellido</label>
            <input id="user_last_name_input" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" data="blue" placeholder="Ingresa el apellido" name="last_name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input  id="user_email_input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword1">Nueva Contraseña*</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa la nueva contraseña" name="password" value="" autocomplete="off">
            <small><i>Deja en blanco para no modificar la contraseña</i></small>
          </div>
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-secondary" name="editUser">Actualizar</button>
      </div>
        </form>
    </div>
  </div>
</div>

<!-- Delete User Modal -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Seguro que desea eliminar al usuario:</h5>
        <h4 id="deleteUserInfo"></h4>
        <h5><small><i>Esta accción es irreversible</i></small></h5>
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <form method='POST'> {% csrf_token %}
        <input id="deleteUser_input" type="hidden" name="id_user">
        <button type="submit" class="btn btn-danger" name="deleteUser">Eliminar</button>
      </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function editUser(id){
    user_name = document.getElementById("user_"+id).textContent;
    user_first_name = document.getElementById("user_first_name_"+id).value;
    user_last_name = document.getElementById("user_last_name_"+id).value;
    
    user_email = document.getElementById("user_email_"+id).textContent;
    document.getElementById("user_id_input").value = id
    document.getElementById("user_first_name_input").value = user_first_name
    document.getElementById("user_last_name_input").value = user_last_name
    document.getElementById("user_email_input").value = user_email
  }
  function deleteUser(id){
    user_name = document.getElementById("user_"+id).textContent;
    document.getElementById("deleteUserInfo").textContent = user_name
    document.getElementById("deleteUser_input").value = id
  }
</script>
{% endblock %}