{% extends 'base/master.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="padding-bottom: 13px;">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h5 class="title">Cambiar Contraseña {{ user.username }}</h5>
              <hr/>
              <form method="post">
			  {% csrf_token %}
			  {{ form }}
			<br><br>
			<a href="{% url 'profile' %}" class="btn btn-danger">Cancelar</a>
			  <button class="btn btn-secondary" type ="submit"><i class="fas fa-user-lock" data-fa-transform="shrink-6"></i> Cambiar Contraseña</button>

			</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}