{% extends 'base/master_auth.html' %}
{% load static %}

{% block content %}<!-- Main Content -->

<div class="row row-div">
	<div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 ml-auto left-div text-center" style="vertical-align: middle;">
		<span>
			<a href="/">
				<img src="{% static "index/Logo-CDMX-blanco.svg"%} " style="width: 222px;padding-top: 120px;">
			</a>
		</span>
	</div>
	<div class="col-sm-8 col-md-5 col-lg-5 col-xl-3 mr-auto right-div">
 		<form method='POST'> {% csrf_token %}
			<div class="title-div">
				<h4 class="title-gray">Sistema <span class="title-black">Baches CDMX</span></h4>
          </div> 
			<div class="text-center mb-3 login-title">
				Inicia sesión para acceder a este contenido.
			</div>
			<div class="form-group text-center">
				<a href="{% url 'login' %}" class="btn btn-secondary login-button"><small>Iniciar Sesión</small></a>
			</div>
		</form>
	</div>
</div>

{% endblock %}