body{
		background-color: #f3f2f2;
	}
	.left-div{
		min-height: 200px;
		background-color: #212529;
		background-size: cover;
	}
	.right-div{
		min-height: 360px;
		padding-right: 30px;
		padding-left: 30px;
		background-color: #fefefe;
	}
	.row-div{
		margin-top: 13%;
	}
	.input-label{
		font-weight: 300
	}
	.login-button{
		border-radius: 20px;
		background-color: #212529;
		margin-top: 10px;
		font-weight: 300
	}
	.title-gray{
		color: gray;
	}
	.title-black{
		color: black;
	}
	.title-div{
		padding-bottom: 12px;margin-top: 45px;
	}
	.login-title{
		margin-top: 60px;
		font-weight: 300;
		font-size: 14px;
	}
	@media only screen and (max-width: 575px) {
	  	.row-div {
	    	margin-top: 0;
	  	}
	  	.right-div{
	  		padding-right: 60px;
	    	padding-left: 60px;
	  	}
	}