{% extends 'base/master_landing.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-12 col-10">
          <h1>Programa Cero Baches Ciudad&nbsp;de&nbsp;México</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles">Folio de Reporte:
            <span class="subtitles02">
              <span id="label_ente">{{ reporte.folio }}</span>
            </span>
          </h4>
        </div>
      </div>
    </div>
  </section>
<section  style="margin-top: 40px;">
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-left">
        <div class="col col-md-8 col-10">
            <b>Gracias por reportar!</b>
            <p>Tu reporte ayuda a los demás a transitar con seguridad.<br><br><i>Guarda tu FOLIO para darle seguimiento a tu reporte.</i></p>
        </div>
      </div>
    </div>
  </section>
  
 {% endblock %}