{% extends 'base/master_landing.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-12 col-10">
          <h1>Programa Cero Baches Ciudad&nbsp;de&nbsp;México</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles">Unidad normativa:
            <span class="subtitles02">
              <span id="label_ente">SECRETARÍA DE OBRAS Y SERVICIOS</span>
            </span>
          </h4>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-8 col-10">
          <h4>Trámite que deben realizar las personas que sufren algún siniestro en sus vehículos o en sus personas provocado por daños en la red vial principal de la Ciudad de México.</h4>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-8 col-10">
            <b>Este trámite lo realiza: </b>
            <p>Persona física o moral. Propietario o poseedor del bien objeto del siniestro. </p>
        </div>
      </div>
    </div>
  </section>

<section>
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="container">
      <div class="bg-rectangule01" id="Menu">
        <h4 class="text-buscador-aqua">Completa el Formulario para poder darle seguimiento.</h4>
        <div class="container" style="max-width: 500px;">
          <div class="row">
            <div class="col" style="color: white">
              <div class="form-group">
                <label >Nombre*</label>
                <input type="text" name="first_name" class="form-control" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <label >Apellido*</label>
                <input type="text" name="last_name" class="form-control" placeholder="Apellido" required>
              </div>
              <div class="form-group">
                <label >Correo Electrónico*</label>
                <input type="email" name="email" class="form-control" placeholder="Correo Electrónico" required>
              </div>
              <div class="form-group">
                <label >Calle Principal*</label>
                <input type="text" name="calle_principal" class="form-control" placeholder="Calle Principal" required>
              </div>
              <div class="form-group">
                <label >Calle Referencia*</label>
                <input type="text" name="calle_referencia" class="form-control" placeholder="Calle de Referencia" required>
              </div>
              <div class="form-group">
                <label >Colonia*</label>
                <input type="text" name="colonia" class="form-control" placeholder="Colonia" required>
              </div>
              <div class="form-group">
                <label >Municipio/Alcaldía*</label>
                <select class="form-control" name="municipio" required>
                  <option>Álvaro Obregón</option>
                  <option>Azcapotzalco</option>
                  <option>Benito Juárez</option>
                  <option>Coyoacán</option>
                  <option>Cuajimalpa de Morelos</option>
                  <option>Cuauhtémoc</option>
                  <option>Gustavo A. Madero</option>
                  <option>Iztacalco</option>
                  <option>Iztapalapa</option>
                  <option>Magdalena Contreras</option>
                  <option>Miguel Hidalgo</option>
                  <option>Milpa Alta</option>
                  <option>Tláhuac</option>
                  <option>Tlalpan</option>
                  <option>Venustiano Carranza</option>
                  <option>Xochimilco</option>
                </select>
              </div>
              <div class="form-group">
                <label >Observaciones</label>
                <input type="text" name="observaciones" class="form-control" placeholder="Observaciones">
              </div>
              <div class="modal-body">
                <label for="exampleFormControlFile1">Selecciona una Imagen como Evidencia</label>
                <input type="file" name="image" class="form-control-file">
              </div>
              <div class="text-right">
                <p><small><i>*Campos Obligatorios</i></small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-item d-flex justify-content-center">
          <div class="accordion w-100" id="accordionMenu">
            <h4 class="mb-0 d-flex justify-content-center">
              <a href="{% url 'bumps' %}" class="nav-link btn btn-04 collapsed mb-2" style="padding-top: 14px;background-color: gray;color: white;border-color: gray;">
                Cancelar</a>
              <button type="submit" name="addReporte" class="nav-link btn btn-04 collapsed mb-2">
                Enviar Reporte</button>
              </h4>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

 {% endblock %}