{% extends 'base/master_landing.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-12 col-10">
          <h1>Programa Cero Baches Ciudad&nbsp;de&nbsp;México</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles">Unidad normativa:
            <span class="subtitles02">
              <span id="label_ente">SECRETARÍA&nbsp;DE&nbsp;OBRAS&nbsp;Y&nbsp;SERVICIOS</span>
            </span>
          </h4>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-8 col-10">
          <h4>Trámite que deben realizar las personas que sufren algún siniestro en sus vehículos o en sus personas provocado por daños en la red vial principal de la Ciudad de México.</h4>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-8 col-10">
            <b>Este trámite lo realiza: </b>
            <p>Persona física o moral. Propietario o poseedor del bien objeto del siniestro. </p>
        </div>
      </div>
    </div>
  </section>

    <section>
    <div class="container">
      <div class="bg-rectangule01" id="Menu">
        <h4 class="text-buscador-aqua">Si sufriste algún percance en la Ciudad de México repórtalo.</h4>
        <div class="nav-item d-flex justify-content-center">
          <div class="accordion w-100" id="accordionMenu">
            <h4 class="mb-0 d-flex justify-content-center">
              <a href="{% url 'formulario' %}" id="btn_modalidades" class="nav-link btn btn-04 collapsed mb-2" style="padding-top: 14px;">
                Reportar un Bache</a></h4>
          </div>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}