{% extends 'base/master_landing.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-12 col-10">
          <h1>¿Qué es un bache?</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles" style="padding-right: 15px;padding-left: 15px;">La primera definición de bache en el diccionario de la real academia de la lengua española es hoyo en el pavimento de calles, carreteras o caminos, producido por el uso u otras causas. Otro significado de bache en el diccionario es descenso transitorio que se produce en una actividad continuada. Bache es también desigualdad de la densidad atmosférica que produce un súbito descenso de una aeronave.
          </h4>
        </div>
        <div class="col col-md-12 col-10">
          <h1>¿Qué es un trámite?</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles" style="padding-right: 15px;padding-left: 15px;">Trámite: A la solicitud, aviso, manifestación o entrega de información y demás planteamientos que los particulares hacen ante la autoridad competente para cumplir una obligación u obtener una licencia, autorización, permiso, registro, confirmación o reconocimiento de derechos o el acto administrativo que les autorice el ejercicio de una actividad prevista en disposición legal o reglamentaria.
          </h4>
        </div>
        <div class="col col-md-12 col-10">
          <h1>¿Qué es un servicio?</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles" style="padding-right: 15px;padding-left: 15px;">Servicio: A la actividad, obra o prestación a cargo de la Administración Pública que tiene por objeto satisfacer necesidades individuales o colectivas, realizada por iniciativa de la propia autoridad o atendiendo peticiones ciudadanas o de la comunidad.
          </h4>
        </div>
      </div>
    </div>
  </section>

 {% endblock %}