{% extends 'base/master_landing.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-12 col-10">
          <h1>Programa Cero Baches Ciudad&nbsp;de&nbsp;México</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles">Baches Reparados
          </h4>
        </div>
      </div>
    </div>
  </section>

 {% endblock %}