{% extends 'base/master_landing.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
  <section>
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-12 col-10">
          <h1>Programa Cero Baches Ciudad&nbsp;de&nbsp;México</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles">Folio de Reporte:
            <span class="subtitles02">
              <span id="label_ente">{{ reporte.folio }}</span>
            </span>
          </h4>
        </div>
      </div>
    </div>
  </section>

  <section  style="margin-top: 40px;">
    <div class="container mt-2">
      <div class="row d-flex justify-content-center text-left">
        <div class="col-md-6">
            <b>Fecha de Reporte: </b>
            <p>{{ reporte.created|date:"SHORT_DATE_FORMAT" }}</p>
            <br>
            <b>Dirección: </b>
            <p>{{ reporte.calle_principal}} y {{ reporte.calle_referencia }}, {{ reporte.colonia }}, {{ reporte.municipio }}. </p>
            {% if reporte.observaciones %}
              <br>
              <b>Detalles: </b>
              <p>{{ reporte.observaciones }}</p>
            {% endif %}
            <br>
            <b>Status: </b>
            <p>
              {% if reporte.status %}
                <button class="btn btn-success btn-sm">Completado</button>
              {% else %}
                <button class="btn btn-danger btn-sm">Pendiente</button>
              {% endif %}
            </p>
        </div>
          {% if reporte.image %}
        <div class="col-md-6" style="height: 300px;">
          <img src="{{ reporte.image.url }}" width="100%" style="height: 100%;object-fit: cover;">
        </div>
        {% endif %}
        <div class="col-12 text-right" style="margin-top: 30px;">
          <a href="{% url 'reportados' %}" class="btn btn-sm btn-secondary">Buscar Otro Folio</a>
        </div>
      </div>
    </div>
  </section>

  
 {% endblock %}