{% extends 'base/master_landing.html' %}
{% load static %}

{% block content %}<!-- Main Content -->
  <section>
    <div class="container mt-2" style="margin-bottom: 40px;">
      <div class="row d-flex justify-content-center text-center">
        <div class="col col-md-12 col-10">
          <h1>Programa Cero Baches Ciudad&nbsp;de&nbsp;México</h1>
        </div>
        <div>
          <div class="break04">
          </div>
          <h4 class="subtitles">Baches Reportados
          </h4>
        </div>
      </div>
    </div>
  </section>

   <section>
    <div class="container">
      <div class="bg-rectangule01" id="Menu" style="max-width: 400px;">
        <h4 class="text-buscador-aqua">Ingresa tu FOLIO para localizar tu Reporte</h4>
        <div class="nav-item d-flex justify-content-center">
          <div class="accordion w-100" id="accordionMenu">
            <div class="form-group text-center" style="margin-left: 20px;margin-right: 20px;">
                <input id="folio_number" type="number" class="form-control">
              </div>
            <h4 class="mb-0 d-flex justify-content-center">
              <a onclick="getFolio()" class="nav-link btn btn-04 collapsed mb-2" style="padding-top: 14px;">
                Buscar Reporte</a></h4>
            <div id="modalidad_seleccionada"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script type="text/javascript">
  function getFolio(){
    folio = document.getElementById("folio_number").value
    console.log(folio)
    window.location.href = folio;
  }
</script>
 {% endblock %}